{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Properties</title>
    <style>
        .table {
            width: 80%;
        }
        .even {
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Properties in here</h1>

    {% render_table table %}

</body>
</html>